name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }} basil-models:${{ matrix.basil-models }}
    strategy:
      matrix:
        php: ['8.4', '8.5']
        basil-models: ['^6', '^7', '^8', '^9']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: zip

      - name: Download dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}
          args: --ignore-platform-req=ext-zip

      - name: Install browser drivers
        run: ./vendor/bin/bdi detect drivers

      - name: Run PHPUnit unit tests
        run: composer test
